/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

/* Header */
/* Navbar styling */
.navbar {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: bolder;
}


.btn {
  background-color: transparent;
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Cover section styling */
.cover {
  height: 100vh;
  background-image: url("/images/Hero-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 40px; /* To account for the fixed navbar */
  color: white;
}

.cover-content {
  max-width: 800px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.4); /* Optional: To make text more readable */
  border-radius: 10px;
}

.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  margin: 0 0 20px;
  font-size: 34px;
}

p {
  margin: 0 0 30px;
  font-size: 18px;
}

/* Body Part 1*/
/* Main content styling */
main {
  padding: 80px 100px 50px 100px;
  background-color: #f4f4f4;
}

.introduction {
  text-align: center;
  margin-bottom: 100px;
}

.introduction h2 {
  margin-bottom: 18px;
  font-size: 32px;
}

.introduction p {
  margin: 0 auto;
  font-size: 18px;
  max-width: 600px;
}

.box-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 80px 60px;
}

.box {
  background-color: rgba(255, 255, 255, 0.951);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.reverse {
  flex-direction: reverse;
}

.box-image {
  width: 300px;
  height: 300px;
}

.text {
  flex: 1;
}

.text-reverse{
  text-align-last: right;
}

.btn-border {
  background-color: transparent;
  border: 2px solid #007BFF;
  color: #007BFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-border:hover {
  background-color: #007BFF;
  color: white;
}

/* Body Part 2 */
/* Video Section */
.video-section {
  display: flex;
  justify-content: center;
  padding: 0 80px;
  margin-bottom: 80px;
}

.video-container {
  border: 20px solid #ddddddf0;
  border-radius: 10px;
  overflow: hidden;
}

/* Body Part 3 */
/* Target Section */
.target-section {
  display: flex;
  justify-content: space-evenly;
  padding: 0 60px;
  margin-bottom: 100px;
}

.target-section .box-1, .box-2, .box-3 {
  padding: 50px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px; /* Limit the width of each box */
}

.box-1 {
  background-color: #fff3dd;
}

.box-2 {
  background-color: #ddf0ff;
}

.box-3 {
  background-color: #ffdddd;
}

.box-icon {
  max-width: 80px; /* Set a max width */
  max-height: 80px;
  margin-bottom: 10px;
}

.box-1 h3, .box-2 h3, .box-3 h3 {
  margin: 20px 0;
  font-size: 36px;
}

.box-1 p, .box-2 p, .box-3 p {
  margin: 0 0 20px;
  font-size: 14px;
}

.btn-border {
  background-color: transparent;
  border: 2px solid #007BFF;
  color: #007BFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-border:hover {
  background-color: #007BFF;
  color: rgba(255, 255, 255, 0.951);
}

/* Body Part 4 */
/* Next Target Section */
.next-target-section {
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  margin-bottom: 80px;
}

.box-next {
  display: flex;
  flex-direction: stretch;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.951);
  padding: 60px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box-icon-next {
  width: 100vh; /* increase width */
  height: 20vh; /* increase height */
  margin-bottom: 10px;
  padding-right: 30px;
}

.text-next {
  text-align: left;
  width: 300%;
}

.text-next h3 {
  margin: 20px 0;
  font-size: 30px;
}

.text-next p {
  margin: 0 0 40px;
  font-size: 16px;
}

.btn-border {
  background-color: transparent;
  border: 2px solid #007BFF;
  color: #007BFF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-border:hover {
  background-color: #2b8ffa;
  color: rgba(255, 255, 255, 0.951);
}
